html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../img/local/CErender_v3.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
}